<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKVXz1wXiPxVjqumlxm-E75bnZUvvr__o</string>
	<key>GCM_SENDER_ID</key>
	<string>178903074786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NihalGunu.Daily-Wins</string>
	<key>PROJECT_ID</key>
	<string>dailywins-3bd07</string>
	<key>STORAGE_BUCKET</key>
	<string>dailywins-3bd07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178903074786:ios:37694680958a1e55035bbb</string>
</dict>
</plist>